header{
    width: 100%;
    background-color: rgb(35, 47, 62);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>.opciones1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

header>.opciones1> li {
    height: auto;
    list-style: none;
    padding:10px;
}

header>.opciones1> li a {
    color: azure;
    padding:40px;
    text-decoration-line: none;
    font-weight: bold;
}

body{
    background-color: rgb(35, 47, 62);
}

.opciones1>li> button{
    background-color: rgb(58, 68, 82);
    color: white;
    border: 2px solid rgb(255, 136, 0);
    width: 6rem;
    height: 2.4rem;
    border-radius: 4px;
}
