*::after,
*::before,

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.izquierdo{
    width: 300px;
    height: 700px;
    background-color: white;
    padding-top: 0px;
}

.card {
    width: 230px;
    margin: 0 auto;
    
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: none;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .marca {
        font-size: 18px;
        color: black;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    .marca::after {
        content: '';
        position: absolute;
        top: 70%; /* Ajusta la posición del subrayado */
        left: 0;
        width: 50%; /* Ajusta la longitud del subrayado */
        height: 2px;
        background-color: red; /* Color del subrayado */
        transition: width 0.3s ease;
    }

    .marca:hover::after {
        width: 100%;
    }

    .texto {
        display: none;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        margin-top: 10px;
    }

    #flecha {
        margin-left: 5px;
        transition: transform 0.3s;
        display: inline-block;
        
    }

    /* Rotamos la flecha para que apunte hacia abajo */
    .texto-visible #flecha {
        transform: rotate(90deg);
    }
    /*botones*/
    .botones {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
    }

    .boton {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        margin: 5px;
    }
    
    .boton-secundario {
        background-color: #dd2b18;
        color: #fff;
    }

    .boton-secundario:hover{
        border: solid #dd2b18;
        color: black;
        background-color: white;
    }

body{
    margin: 0 auto;
   
}

h1{
    margin-top: 2rem;
    color: rgb(35, 47, 62);
}
h2{
    color: rgb(35, 47, 62);
}

.Productscategoria{
    max-width: 96.5%; /* o cualquier otro valor que desees */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    background-color: white;
}
.superior{
    height: 100px;
    background-color: white;
   
}

.titulo{
    background-color: white;
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 60px;
}

.orden{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.select2 {
    width: 145px;
    height: 50px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
  }

  h4{
    padding-left: 55px;
    padding-top: 30px;
  }
.inferior{
    max-width: 100%; /* o cualquier otro valor que desees */
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 45px;
    margin-top: 1rem;
}
.imgProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;;
}

.imgProducts> img{
    max-width: 90%;
    height: auto;
    object-fit: cover;
    transition: all .5s;
}

.imgProducts> img:hover{
    transform: scale(1.1);
}

.infoProducto{
    height: 8rem;
    padding-top: 40px;
    
}

.infoProducto>p{
    margin-left: 20px;
    font-size: 14px;
}
.infoProducto>h6{
    color: rgb(238, 92, 25);
    font-weight: bold;
    margin-left: 14px;
}

.itemsProduct{
    width: 200px;
    border-radius: 10px;
}

.itemsProduct:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.precio {
    margin-top: 20px;
text-decoration: underline red;
font-size: 20px
}

.precios{
  display: flex;
  justify-content: space-evenly;

}

.precios1{
color: red;
}

.precios2{
  text-decoration: line-through;
  color: #808080;
}

.progress {
    margin-bottom: 10px;
    background-color: red;
    }
    
    .progress-bar {
    background-color: red;
    }
    
    .progress-range {
    font-size: 12px;
    color: gray;
    }

    .ofertabtn{
        background-color: red; /* Agrega el color que deseas para los botones con la clase 'ofertabtn' */
        color: #fff; /* Agrega el color del texto que desees */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        margin: 5px;
    }
    
    .ofertabtn:hover {
        background-color: white;
        color: black;
        border: solid red;
    }
    

    .Pre {
        font-size: 18px;
        color: black;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    .Pre::after {
        content: '';
        position: absolute;
        top: 70%; /* Ajusta la posición del subrayado */
        left: 0;
        width: 20%; /* Ajusta la longitud del subrayado */
        height: 2px;
        background-color: red; /* Color del subrayado */
        transition: width 0.3s ease;
    }

    .Pre:hover::after {
        width: 100%;
    }
    
    

    
    